<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <connectionStrings>
    <add
      name="CCMSContext"
      connectionString="Server=localhost; Database=LiusStoreDb; Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>